<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Find Form</h1>
<form action="#" th:action="@{/getForm}" th:object="${findUser}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td>Surname:</td>
            <td><input type="text" th:field="*{surname}" /></td>
        </tr>
    </table>
    <p><button type="submit" value="Find">Find</button></p>
    <p><a href="/userForm"><input type="button" value="Back" /></a></p>
</form>
</body>
</html>